* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  text-decoration-line: none;
}

li {
  list-style: none;
}

body {
  font-family:"Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: var(--bg-white);
}

.gnav-menu li {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}
a {
  color: #333;
}
a:hover {
  opacity: 0.7;
}