@use './mixins' as * ;

//ヘッダー

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding: 10px;
  z-index: 200;
  background-color: var(--bg-white);

  &-logo img{
    width: 80%;
    margin: 10px;
      min-width: 144px;
    
      @include mq {
        max-width: 50%;
      }
  }
}

.gnav {
  margin: 0 auto;
  text-align: start;

  &-menu {
    padding: 50px 0px 0px 20px;
    
    li {
      margin-bottom: 20px;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &-sns {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 0px 20px;

    li {
    padding: 10px 5px;
    }
  }
}

//メイン

.main-visual{
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 200px;
  margin-bottom: 0;
  width: auto;
  height: 100vh;
  background: url(../img/mv-bg@2x.jpg) center center no-repeat;
  background-size: cover;
  align-items: center;

  @include mq {
      height: calc(100vh - 60px);
      margin: 0;
      margin-top: 60px;
      width: 100%;
    }

  img{
    display: block;
      width: 50vw;
      max-width: 600px;
      min-width: 200px;
    
      @include mq {
        width: 50vmax;
      }
  }

&-text {
  display: block;
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: var(--text-color);
    z-index: 90;
    font-size: 1.5vmax;
    
      p {
        width: 100%;
        height: 100%;
        width: fit-content;
      }

    .second-text,
    .third-text {
      font-size: 2em;
      font-weight: 500;
    }

    .first-text,
    .second-text,
.third-text {
      background-color: #fff;
      margin-top: 20px;
      padding: 2px;
      }
      
      .first-text {
        font-weight: 500;
}
}
}

//バックナンバー

.backnumber {
  display: block;
  margin-left: 200px;
  padding-top: 20px;
  background-color: #f8f8f8;

  @include mq {
      margin: 0;
    }
&-title {
  margin: 20px 20px 30px 20px;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    font-size: 12px;
  }
}

&-content {
  display: flex;
  flex-wrap: wrap;
li {
    flex-basis: 50%;

    @include mq {
      flex-basis: 100%;
    }
  }

  p {
    // padding: 30px;
      font-size: 17px;
    font-weight: 300;
  }

p.bn-data {
  font-size: 14px;
}
  li span {
    font-size: 18px;
    font-weight: 500;
  }


}

&-item {
  width: 50%;
  padding: 50px;

  @include mq {
      justify-content: space-between;
      flex-basis: 50%;
    }

img {
  display: block;
    margin: 40px auto;
      margin-bottom: 50px;
      width: 60%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
@include mq {
    max-width: 50%;
  }
  }
}
  }

//バックナンバー個別背景
  .bn {
    &-101 {
      background: #ecf4f9;
    }

    &-100 {
      background: #fbf3d2;
    }

    &-99 {
      background: #f9f2eb;
    }

    &-98 {
      background: #fae8c2;
    }

    &-97 {
      background: #e2efe7;
    }

    &-96 {
      background: #f2f5fb;
    }
  }
//スマホ用ナビゲーション　難しかったので分けます

.gnav-hidden {
  display: none;
}

#gnav-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 60px;
    position: fixed;
    align-items: center;
    text-align: center;

    #gnav-btn {
      display: block;
      position: fixed;
      width: 50px;
      height: 50px;
      right: 20px;
      top: 10px;
      z-index: 200;
      background: url(../img/ico-nav.svg) center center no-repeat;
    }

    &-logo {
      width: 50%;
      margin: 0 auto;
    }
  }

  .gnav {
    position: fixed;
    top: 0;
    right: -120%;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: 1s;
    background: var(--bg-white);
    text-align: center;
    align-items: center;

&-sns {
  justify-content: center;
    align-items: center;
      position: absolute;
  margin-bottom: 200px;
  width: 100%;
li {
    padding: 0 15px;
  }
}
&-menu {
  margin-top: 100px;

  a {
    font-size: 14px;
  }
}
}

#gnav-input:checked~#gnav-btn {
  background: url(../img/ico-nav-close.svg) center center no-repeat;
}

#gnav-input:checked~.gnav {
  right: 0;
}
}