@use './mixins' as * ;

//ヘッダー

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding: 10px;
  z-index: 200;
  background-color: var(--bg-white);

  &-logo img{
    width: 80%;
  }
}

.gnav {
  margin: 0 auto;
  text-align: start;

  &-menu {
    padding: 50px 0px 0px 20px;
    
    li {
      margin-bottom: 20px;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &-sns {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 0px 20px;

    li {
    padding: 5px;
    }
  }
}

//メイン

.main-visual{
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 200px;
  margin-bottom: 0;
  width: auto;
  height: 100vh;
  background: url(../img/mv-bg@2x.jpg) center center no-repeat;
  background-size: cover;
  align-items: center;
  
  img{
    position: absolute;
    width: auto;
    height: 80vh;
    max-width: 1808px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    left: 100px;
    color: var(--text-color);
    z-index: 90;

    .second-text,
    .third-text {
      font-size: 2em;
      font-weight: bold;
    }
    .first-text,
    .second-text,
    .third-text {
      width: fit-content;
      background-color: #fff;
      margin-top: 20px;
    }
}
}

//バックナンバー

.backnumber {
  margin-left: 200px;
  padding-top: 20px;
  background-color: #f8f8f8;

  &-title {
display: block;
  margin: 0px 0px 20px 20px;

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
}

&-content {
  display: flex;
  flex-wrap: wrap;

  p {
    padding: 20px;
    font-weight: 300;
  }

  li span {
    font-size: 18px;
    font-weight: 600;
  }

  @include mq {
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-basis: 100%;
  }
}

&-item {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-basis: auto;
  padding: 20px 20px 0;

img {
    width: 50%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
}
  }

//バックナンバー個別背景
  .bn {
    &-101 {
      background: #ecf4f9;
    }

    &-100 {
      background: #fbf3d2;
    }

    &-99 {
      background: #f9f2eb;
    }

    &-98 {
      background: #fae8c2;
    }

    &-97 {
      background: #e2efe7;
    }

    &-96 {
      background: #f2f5fb;
    }
  }